/* La página esta ambientada en nintendo y no hay mejores colores que los rojos y los azules */
/* En esta pagina solo uso dos variables */
:root {
    --color-primario: #E60012;
    --color-secundario: #0099FF;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, var(--color-primario), var(--color-secundario));
    background-size: 200% 200%;
    animation: movimientoFondo 6s infinite linear;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Animación que le da movimiento al fondo del login */
@keyframes movimientoFondo {
    0% {
        background-size: 200% 200%;
        background-position: 0% 50%;
    }
    50% {
        background-size: 250% 250%;
        background-position: 50% 50%;
    }
    100% {
        background-size: 200% 200%;
        background-position: 100% 50%;
    }
}

/* Contenedor login */
.login {
    background: #ffffff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 320px;
    text-align: center;
}

/* label del login */
.login__label {
    font-size: 14px;
    font-weight: normal;
    color: #555;
    display: block;
    margin-bottom: 10px;
    text-align: center;
}

/* Inputs del login */
.login__input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid var(--color-primario);
    border-radius: 5px;
    background: #f8f8f8;
    color: #333;
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease;
    text-align: center;
}

.login__input:focus {
    border-color: var(--color-secundario);
    box-shadow: 0 0 8px var(--color-secundario);
}

/* Boton */
.login__button {
    background: var(--color-primario);
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%;
}

.login__button:hover {
    background: var(--color-secundario);
    box-shadow: 0 0 10px var(--color-secundario);
}
